.game {
  display: flex;
  width: 1687px;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
}

.header {
  background-color: black;
  color:white;
  display: flex;
  height: 80px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.instructions {
  display: flex;
  height: 90px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  font-family: arial;
  gap: 16px;
}

.score-board {
  background-color:rgb(208, 208, 208);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.dice-mat {
  background-color:green;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  height: 200px;
}

.de {
  height:80px;
  transform: rotate(5deg);
}


.life {
  height: 24px;
  flex-shrink: 0;
}

.life-bar {
  display: flex;
  width: 237px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.profil {

  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  gap: 20px;
}

.hero {
  width: 40px;
  height: 40px;
}

.app-name {
  color: white;
  font-family: Kolker Brush;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button {
  background-color:#9D393E;
  border-radius: 16px;
  color:white;
  font-family: arial;
  font-size:medium;
  height: 48px;
  width: 160px;
}



.square {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0;
}

.white {
  background-color: #ff9c9c;
}

.black {
  background-color: #fa6666;
}

#board {
  border: 3px solid gray;
  height: 400px;
  width: 400px;
  padding: 0;
}

.grid {
  background-color:rgb(208, 208, 208);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  height:200px;
}

.cell {
  height: 100px;
  width: 100px;
  background-color: grey;
  border-width: 2px;
  border-color: black;
  padding: 2px;
  margin: 1px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.cell:hover {
  background-color: #9D393E;
}